body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  color: #333;
  text-align: center;
}

/*
header {
  background: #222;
  color: white;
  padding: 2em 1em;
} */

header {
  background-color: #002868;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100'%3E%3Crect width='100%25' height='100%25' fill='%23002868'/%3E%3Cpolygon points='50,15 61,35 84,35 66,50 72,72 50,60 28,72 34,50 16,35 39,35' fill='white'/%3E%3C/svg%3E");
  background-size: 215px 215px;
  background-repeat: repeat;
  color: rgb(145, 5, 5);
  font-size: larger;
  padding: 2em 1em;
  margin-bottom: -4.5%;
}


.text-box {
  background-color: rgba(255, 255, 255, 0.445); /* or white with transparency */
  display: inline-block;
  padding: .3em .5em;
  border-radius: 8px;
}

.headerDescription {
  color: #ffffff;
}

/*
.packages {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2em;
}

.package {
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  margin: 1em;
  padding: 1.5em;
  width: 250px;
}

*/

.package {
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  margin: 1em;
  padding: 1.5em;
  width: 250px;

  display: flex;
  flex-direction: column;
  justify-content: space-between; /* space between content and button */
  height: 100%; /* allow it to grow to match other items */
}

.packages {
  display: flex;
  justify-content: center;
  align-items: stretch; /* stretch cards to same height */
  flex-wrap: wrap;
  margin: 2em;
}

.list {
    list-style-position: outside;
    margin: 0;
    padding-left: 20px;
    text-align: left;
} 

.list li {
  margin-bottom: 10px;
}

.headerThree {
   color: #002868;
   font-size: medium;
}

.headerThree li {
  margin-bottom: 10px;
}

.price {
  font-size: 1.5em;
  color: #002868;
}

.btn {
  display: inline-block;
  margin-bottom: 1em;
  padding: 0.7em 1.2em;
  background: #002868;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.btn:hover {
  background: #b30000;
}

footer {
  margin-top: 2em;
  padding: 1em;
  background: #222;
  color: white;
}